<div class="container">
  <!-- Hiển thị hình ảnh sản phẩm nếu có -->
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>

  <% cache @product do %>
    <h1><%= @product.name %></h1>
    <p><%= @product.description %></p>
  <% end %>

  <!-- Hiển thị inventory (còn hàng/hết hàng và form đăng ký email nếu hết hàng) -->
  <%= render "inventory", product: @product %>

  <!-- Các link để quay lại và sửa sản phẩm -->
  <%= link_to "Quay lại", products_path, class: "link" %>
  <%= link_to "Sửa", edit_product_path(@product), class: "link" %>

  <!-- Nút xóa sản phẩm -->
  <%= button_to "Xóa", @product, method: :delete, data: { turbo_confirm: "Mày có chắc?" }, class: "button" %>
</div>
